@import "config";
@import "menu";

* {
	box-sizing: border-box;
}

body {
	@include background();
	background: $primary-color;
	color: $secondary-color;
	height: 100%;
	position: relative;
	margin: 0;
	font-family: "Rubik", Tahoma, sans-serif;
	line-height: 1.4;
}

main {
	padding: 1rem 2rem;
	font-size: smaller;
	min-height: calc(100vh - 60px);
}

section {
	margin: 0;
	padding: 0.5rem;
	text-align: center;
}

h1,
caption {
	margin: 0;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

label {
	padding: 0 1rem;
}

select,
input {
	padding: 0;
	margin: 0.1rem 0;
	// box-sizing: border-box;
	width: 5rem;
	text-align: center;
	background-color: rgba($secondary-color, 0.7);
	border: 2px solid $secondary-color;
	border-radius: 20px;

	&:hover {
		border-color: yellow;
	}

	&:focus {
		outline: none;
	}
}

input[type="checkbox"] {
	// padding-top: 0.1rem;
	margin: auto 0;
	width: 0.8rem;
}

#start_btn {
	width: 70%;
	padding: 1rem 0.3rem;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: medium;
	font-weight: bold;

	&:hover {
		background-color: yellow;
	}
}

.grid-container {
	display: grid;
	min-height: 100%;
	grid-template-areas:
		"strategy     foundry      foundry"
		"interceptor1 interceptor2 interceptor3"
		"ufo          ufo          ufo"
		"button       button       button"
		"results      results      results";
	grid-template-columns: repeat(3, 1fr);
}

.subgrid {
	display: grid;
	grid-template-columns: auto auto;
	text-align: right;
}

#blueRanger {
	grid-area: interceptor1;
	// background-color: rgba($blue-ranger-color, $grid-opacity);
	border-radius: 20px;
}

#greenHornet {
	grid-area: interceptor2;
	// background-color: rgba($green-hornet-color, 0.6);
	border-radius: 20px;
}

#redDevil {
	grid-area: interceptor3;
	// background-color: rgba($red-devil-color, 0.6);
	border-radius: 20px;
}

#strategy {
	grid-area: strategy;
	// background-color: #eee;
}

#foundry {
	grid-area: foundry;
	// background-color: #ddd;
	display: inline-block;

	.column {
		width: 40%;
		display: inline-block;
	}
}

#ufo {
	grid-area: ufo;
	border-radius: 20px;

	.subgrid {
		display: inline-block;
	}
}

#results {
	grid-area: results;
	// background-color: #ccc;

	table {
		display: inline-table;
		padding: 0 0.5rem;
	}

	.blank {
		display: none;
	}
}

#simulation_start_btn {
	grid-area: button;
	// background-color: #bbb;
}

.blue {
	background-color: rgba($blue-ranger-color, $grid-opacity);
}

.green {
	background-color: rgba($green-hornet-color, $grid-opacity);
}

.red {
	background-color: rgba($red-devil-color, $grid-opacity);
}

.ufo_color {
	background-color: rgba($ufo-color, $grid-opacity);
}

table {
	border-collapse: collapse;
	text-align: right;
}

#simulation {
	tr:nth-last-child(3n + 0) {
		font-weight: bold;
	}
}

td,
th {
	border: 1px solid #fff;
	// font-size: 0.8rem;
	padding: 0.1rem;
}

th {
	font-size: 0.9rem;
	text-align: center;
}

td {
	font-size: 0.8rem;
}

// td.blue,
// td.green,
// td.red {
// 	width: 25%;
// }

#simulation {
	td {
		width: 25%;
	}
}

#stats {
	th,
	td {
		width: 20%;
	}
}

#main-footer {
	text-align: center;
	padding: 1rem;
	height: 60px;
}

@import "mediaqueries";
