// Wide Screens
@include mediaXl {
}
// Large Laptops/Desktops
@include mediaLg {
    
	.grid-container {
		grid-template-areas:
			"strategy strategy"
			"foundry  foundry"
			"interceptor1 interceptor2"
			"interceptor3 ufo"
			"button button"
			"results results";
		grid-template-columns: repeat(2, 1fr);
	}

	#strategy {
		.subgrid {
			display: inline-block;
		}
    }
    
    #foundry {
        text-align: left;
        label {
            white-space: nowrap;
        }
    }
	#ufo {
		.subgrid {
			display: grid;
		}
    }
    
}

// Tablets/Small Laptops
@include mediaMd {
	.grid-container {
		grid-template-areas:
			"strategy"
			"foundry"
			"interceptor1"
			"interceptor2"
			"interceptor3"
			"ufo"
			"button"
			"results"
			"results";
		grid-template-columns: repeat(1, 1fr);
	}

	#ufo {
		.subgrid {
			display: grid;
		}
	}

	#foundry {
        
        .subgrid {
            display: grid;
        }
        .column {
            
            width: 100%;
        }
       
        
	}
}

// Smartphones
@include mediaSm {
    body {
        min-width: 375px;
    }
}
